@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --titulo: 'Secular One', sans-serif;
    --sections: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--titulo);
    font-size: 10vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3.2vw;
    padding-left: 30px;
    font-family: var(--sections);
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(20, 20, 20);
    color: white;
    background-color: black;
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.623);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
#u {
    background-image: url('../imagens/joaninha.jpg')
}
#d {
    background-image: url('../imagens/letras.jpg')
}
.imagem > p {
    display: inline-block;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.664);
    transform: translateX(-20px);
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
